<button type="button" name="button" ng-click="test()">DUMP INFO</button>

<button type="button" name="button" ng-click="pause()">Pause</button>
<button type="button" name="button" ng-click="resume()">Resume</button>

<button type="button" name="button" ng-click="x_plus()">Right Gravity</button>
<button type="button" name="button" ng-click="x_minus()">Left Gravity</button>
<button type="button" name="button" ng-click="y_minus()">Up Gravity</button>
<button type="button" name="button" ng-click="y_plus()">Down Gravity</button>

<canvas id="canvas" width="400", height="600"></canvas>
