<p>HOME</p>

<button type="button" name="button" onclick="test()">DUMP INFO</button>

<button type="button" name="button" onclick="pause()">Pause</button>
<button type="button" name="button" onclick="resume()">Resume</button>

<button type="button" name="button" onclick="x_plus()">Right Gravity</button>
<button type="button" name="button" onclick="x_minus()">Left Gravity</button>
<button type="button" name="button" onclick="y_plus()">Up Gravity</button>
<button type="button" name="button" onclick="y_minus()">Down Gravity</button>
