<div ng-if="getMain()">
  <h1>RTS</h1>
  <p><button class="btn btn-primary" ng-click="goToProfile()">Profile</button></p>

  <form ng-if="user.loggedin" name="form.universe_form" novalidate>

    <div ng-show="user.universes.length > 0" class="form-group">
      <select ng-model="form.universe_form.selected_universe">
        <option value="{{$index}}" ng-repeat="universe in user.universes">Universe - {{$index}}</option>
      </select>
    </div>

    <button ng-show="user.universes.length > 0" ng-click="selectUniverse()" class="btn btn-primary">Select Universe</button>
    <button type="submit" ng-click="createUniverse()" class="btn btn-primary">Create Universe</button>

  </form>

</div>

<ui-view></ui-view>
