a:hover {
  text-decoration: none;
}

.vc {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.login .center-form {
  margin: auto;
  width: 450px;
  background-color: #ffffff;
  border-color: #030623;
  border-width: medium;
  border-radius: 15px;
  padding: 25px;
}

.login .login_text_bar {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.main-header {
  height: 60px;
  width: 100%;
  background-color: #030623;
  position: fixed;
  top:0px;
}
.main-header h1 {
  float:left;
  color: #ffffff;
  font-size: 18px;
  font-weight: bolder;
  padding: 10px;
  vertical-align: middle;
}
.main-header h2 {
  float:right;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding-right: 15px;
  vertical-align: middle;
}
.main-header h3 {
  float:right;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding-right: 40px;
  vertical-align: middle;
}

.main-footer {
  height: 60px;
  width: 100%;
  background-color: #030623;
  border-color: #ffffff;
  color: white;
  position: fixed;
  bottom: 0px;
}
.main-footer h1 {
  float:left;
  color: #ffffff;
  font-size: 18px;
  font-weight: bolder;
  padding: 10px;
  vertical-align: middle;
}
.main-footer h2 {
  float:right;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding-right: 15px;
  vertical-align: middle;
}
.main-footer h3 {
  float:right;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding-right: 40px;
  vertical-align: middle;
}
